# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/._Resources
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._af.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ar.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._bn.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ckb_IQ.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._cs.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._da.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._de.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._el.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._en.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._es.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._es_ES.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._fi.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._fr.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._gu.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._he.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._hi.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._hr.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._hu.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._id.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._it.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ja.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ko.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ml.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._mr.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ms.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._my_MM
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._nb.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._nl.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._pa.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._pl.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._pt.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._pt_PT.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ro.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ru.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._sk.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._sv.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._sw_KE
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ta.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._te.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._th.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._tr.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._ur_PK
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._vi.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._zh.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._zh_Hant_HK.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/._zh_Hant_TW.lproj
ios/Frameworks/AccountKit.framework/AccountKitAdditionalStrings.bundle/Resources/af.lproj/._AccountKit.strings
